.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 5px;
  padding: 15px;
  width: 480px;
  /* max-height: 600px; */
  /* min-height: 400px; */
  height: auto;
  box-shadow: 5px 5px 10px rgba(140, 148, 135, 0.5);
  background-color: #4bc3fa41;
}

h1 {
  font-style: normal;
  font-size: 24px;
}
h2 {
  font-style: normal;
  font-size: 22px;
}
